body,div,di,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
}

ol,ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
    color: #fff;
}

img{
    border: none;
    display: block;
}

.clearfloat{
    zoom: 1;
}

.clearfloat:after{
    display: block;
    clear: both;
    content: "";
    height: 0;
}
