.regexp{
  width: 650px;
  margin: 100px auto;
  font-size: 14px;
}
.regexp .title{
  color:#777;
  font-size: 24px;
  text-align: center;
}
.regexp .textbox{
  width: 638px;
  height: 150px;
  border:1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}

.regexp .readonly{
  background-color: #eeeeee;
}

.regexp .textfield{
  width: 215px;
  padding: 5px;
  border:1px solid #ccc;
}